<mat-card class="login-card">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">

    <h2>Connexion</h2>

    <!-- EMAIL -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        formControlName="email"
        placeholder="ex: user@mail.com"
      />
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
        Email requis
      </mat-error>
      <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
        Email invalide
      </mat-error>
    </mat-form-field>

    <!-- PASSWORD -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Mot de passe</mat-label>
      <input
        matInput
        [type]="hidePassword ? 'password' : 'text'"
        formControlName="password"
      />

      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="hidePassword = !hidePassword"
      >
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>

      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
        Mot de passe requis
      </mat-error>
    </mat-form-field>

    <!-- ERROR -->
    <div class="error" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>

    <!-- BUTTON -->
    <button
      mat-raised-button
      color="primary"
      type="submit"
      class="full-width"
      [disabled]="loginForm.invalid || isLoading"
    >
      <span *ngIf="!isLoading">Se connecter</span>
      <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
    </button>

  </form>
</mat-card>